body {
  text-align: center;
    background: '#E0D4E2';
          flex: 1;
          position: 'absolute';
          width: '50%';
          height: '100%';
          justifyContent: 'left';
}
div { 
  text-align: center;
    background: '#E0D4E2';
          flex: 1;
          position: 'absolute';
          width: '50%';
          height: '50%';
          justifyContent: 'left';
}